.slider {
    width: 100%;
}

.result{
    background: #f2f2f2;
}

.emi{
    background: #f2f2f2;
    border: 5px solid #496805;
    padding: 10px;
    text-align:center;
}

.slider > .dragger {
    background: #f51f8a;
    background: -webkit-linear-gradient(top, #f51f8a, #f51f8a);
    background: -moz-linear-gradient(top, #f51f8a, #f51f8a);
    background: linear-gradient(top, #f51f8a, #f51f8a);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 20px;
    border: 1px solid #bb0d64;
    width: 16px;
    height: 16px;
}

.slider > .dragger:hover {
    background: -webkit-linear-gradient(top, #f51f8a, #f51f8a);
}


.slider > .track, .slider > .highlight-track {
    background: #ccc;
    background: -webkit-linear-gradient(top, #dee7f2, #e2e7ee);
    background: -moz-linear-gradient(top, #bbb, #ddd);
    background: linear-gradient(top, #bbb, #ddd);

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #dee7f2;
    height: 8px;
}

.slider > .highlight-track {
    background-color: #8DCA09;
    background: -webkit-linear-gradient(top, #8DCA09, #72A307);
    background: -moz-linear-gradient(top, #8DCA09, #72A307);
    background: linear-gradient(top, #8DCA09, #72A307);

    border-color: #496805;
}
